.logos {
    overflow: hidden; 
    position: relative;
    width: 100%;
    background-color: #000;
  }
  

  .logos-slider {
    display: flex;
    animation: scroll-infinite 12s linear infinite; 
    width: fit-content; 
  }
  

  .logos-slider img {
    height: 60px; 
    width: auto; 
    margin-right: 30px; 
  }
  
 
  @keyframes scroll-infinite {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }